/* Tea Cozy CSS by Adam Judelson */

body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;


}

.content {
  display: inline-flex;
  flex-direction: column;
  width: 1300px;
  background-color: black;
  color: seashell;
  z-index: 1;

}

.container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
}

#header {
  display: inline-flex;
  height: 69px;
  display: flex;
  padding: 10px 0px 10px 0px;
  justify-content: space-between;
  position: fixed;
  background-color: black;
  top: 0px;
  z-index: 2;

}

#logo {
  height: 50px;

}

.nav {
  display: flex;
  text-decoration: underline;
  width: 400px;
  justify-content: space-around;
}

.nav a {
  color: white;
}

#mission {
  height: 700px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");

}

.mission-text {
  width: 1200px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;

}

.mission-text h2, h4 {
  margin: 10px;
}

.text-headers h2, h4 {
  margin: 10px;
  background-color: black;
  text-align: center;
}

#teas {
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 1000px;

}

#img-carousel {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

.tea-images {
  height: 200px;
  width: 300px;
  padding: 10px;

}

#locations {
  height: 500px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  flex-direction: column;
  justify-content: center;

}

#loc-header {
  text-align: center;
  padding: 0px 0px 15px 0px;


}

.loc-names {
  display: flex;
  width: 1000px;
  justify-content: space-around;

}

.loc-details {
  display: flex;
  width: 300px;
  height: 277px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  margin: 0px 20px;
  opacity: 1;

}

.loc-details h3 {
  margin: 10px;
}
.loc-details span {
  font-size: 22px;
}

#contact {
  height: 200px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0px;

}

#copyright {
  display: flex;
  justify-content: flex-start;
  margin: 20px 0px;
}
