/* Tea Cozy CSS by Adam Judelson */

.content {
  display: inline-flex;
  flex-direction: column;
  width: 1300px;
  background-color: black;
  color: white;

}

.container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 2px solid blue;
  width: 1200px;
}

.header {
  height: 69px;
}

.mission {
  height: 700px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
}

.teas {
  display: flex;
  justify-content: center;
  width: 1000px;
}

.locations {
  height: 500px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
}

.contact {
  height: 200px;
}

.copyright {
  display: flex;
  justify-content: flex-start;

}
